html {
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 950px;
display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 170, 182));
}

.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
  padding: 7px;
}

button {
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
}

#subt {
  background-color: #161616;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
  /* margin-left: 75px; */
}

#guessField {
  color: #000;
  width: 250px;
  height: 50px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;

  /* margin-left: 50px; */
  border: 5px solid #6c6d6d;
  text-align: center;
}

#guess {
  font-size: 55px;
  /* margin-left: 90px; */
  color: #fff;
}

.guesses {
  background-color: #7a7a7a;
}

#wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 20px rgb(0, 247, 255);
  width: 80%;
  border-radius: 30px;
  height: 70%;
  background-color: #232323;
  color: #fff;
  font-size: 25px;
}

h1 {
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, rgb(84, 16, 255),rgb(107, 49, 255),rgb(10, 247, 255),rgb(0, 129, 41),rgb(0, 170, 255),rgb(97, 69, 255));
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aniGrade 2.5s linear infinite;  
}

@keyframes aniGrade {
  to{
    background-position: 200%;
  }
}

p {
  font-size: 16px;
  text-align: center;
  padding: 7px;
  margin: 0;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}